<header>
    <nav>
        <ul>
            <li><a href="{{ path('flower_list') }}">УПРАВЛЕНИЕ КАТАЛОГОМ</a></li>            
            <li><a href="{{ path('admin_register') }}">ДОБАВИТЬ АДМИНИСТРАТОРА</a></li>
            <li><a href="{{ path('storage_list') }}">СКЛАД</a></li>
            <li><a href="{{ path('order_list') }}">ЗАКАЗЫ</a></li>
            <li><a href="{{ path('catalog') }}">КАТАЛОГ</a></li>
            <li><a href="{{ path('view_cart') }}">КОРЗИНА</a></li>
        </ul>
    </nav>
</header>
