    <header>
        <nav>
            <ul>
                <li><a href="{{ path('catalog') }}">КАТАЛОГ</a></li>
                <li><a href="{{ path('view_cart') }}">КОРЗИНА</a></li>
                <li><a href="{{ path('app_login') }}" class="login-btn">ВХОД</a></li>
                <li><a href="{{ path('app_register') }}" class="register-btn">РЕГИСТРАЦИЯ</a></li>
            </ul>

            <ul>
                <li><a href="{{ path('catalog') }}">КАТАЛОГ</a></li>
                <li><a href="{{ path('view_cart') }}">КОРЗИНА</a></li>
                <li><a href="{{ path('app_login') }}" class="login-btn">ВХОД</a></li>
                <li><a href="{{ path('app_register') }}" class="register-btn">РЕГИСТРАЦИЯ</a></li>
            </ul>
        </nav>
    </header>